*{
box-sizing:border-box;
font-family:Arial;
}

body{
margin:0;
background:#f5f6fa;
}

/* HEADER */

.header{
display:flex;
align-items:center;
justify-content:space-between;
background:#8b0000;
color:white;
padding:15px;
flex-wrap:wrap;
}

.title{
text-align:center;
flex:1;
}

.logo img{
width:70px;
height:70px;
border-radius:50%;
}

/* DASHBOARD */

.dashboard{
display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
padding:20px;
max-width:1200px;
margin:auto;
}

.card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
}

/* INPUT */

.add-student input{
width:100%;
padding:10px;
margin-bottom:10px;
border:1px solid #ccc;
border-radius:5px;
}

/* BUTTON */

button{
background:#8b0000;
color:white;
border:none;
padding:10px;
border-radius:6px;
cursor:pointer;
transition:0.3s;
}

button:hover{
background:#a20000;
transform:scale(1.05);
}

/* STATS */

.stats{
display:grid;
gap:10px;
}

.stat-box{
background:#fafafa;
padding:15px;
border-radius:8px;
text-align:center;
transition:0.3s;
}

.stat-box:hover{
background:#fff3f3;
}

/* TABLE */

.records{
max-width:1200px;
margin:auto;
padding:20px;
}

.table-wrapper{
overflow-x:auto;
}

table{
width:100%;
border-collapse:collapse;
background:white;
}

th{
background:#8b0000;
color:white;
padding:10px;
}

td{
padding:10px;
text-align:center;
border-bottom:1px solid #eee;
}

tr:hover{
background:#fafafa;
}

/* STATUS */

.excellent{
color:green;
font-weight:bold;
}

.good{
color:orange;
font-weight:bold;
}

.failed{
color:red;
font-weight:bold;
}

/* TABLE CONTROLS */

.table-controls{
display:flex;
justify-content:space-between;
margin-bottom:10px;
gap:10px;
flex-wrap:wrap;
}

#searchStudent{
padding:8px;
border-radius:6px;
border:1px solid #ccc;
}

/* MOBILE */

@media(max-width:768px){

.dashboard{
grid-template-columns:1fr;
}

.logo img{
width:50px;
height:50px;
}

}
